.ProductRow {
    margin-bottom: 10px;
    border-bottom: 1px dashed #ddd;
    padding: 10px 0;
}

.ProductRow-user-input {
    flex: 6;

    & > div {
        margin-right: 10px;
    }
}

.ProductRow-totals {
    flex: 5;

    & > div {
        flex: 3;
    }

    & > div:last-child {
        flex: 1.7;
    }
}

.ProductRow-actions {
    flex: 0.5;
    align-items: center;
    justify-content: space-around;
}

.Input-sku {
    flex: 1.5;
}

.Input-name {
    flex: 4;
}

.Input-small {
    flex: 1;
}

.Input-tax {
    flex: 1.3;
}

.Input-price {
    flex: 2;
}

.Input-number {
    text-align: right;
}

.Price-label {
    color: rgba(0,0,0,.54);
    font-size: 14px;
    transform: scale(0.75) translateZ(0.001px) perspective(100px);
    display: inline-block;
}

.Price-wrapper {
    margin-top: -5px;

    mat-chip {
        justify-content: flex-end;

        span {
            font-size: 10px;
            padding-top: 5px;
        }
    }
}

.Price {
    margin-right: 10px;
    width: 100%;
}

.Profit {
    margin-right: 10px;
    width: 100%;

    &.low {
        background-color: #f44336;
        color: #fff;
        span {
            color: rgba(255,255,255,0.8);
        }
    }

    &.med {
        background-color: #f09f34;
        // color: #fff;
        span {
            color: rgba(0,0,0,0.7);
        }
    }
}