<div fxLayout="row">
    <label>
        SKU
        <input class="Input Input-sku" type="text" placeholder="SKU" [(ngModel)]="sku">
    </label>

    <label>
        Nombre Producto
        <input class="Input Input-name" type="text" placeholder="Nombre producto" [(ngModel)]="name">
    </label>
    
    <label>
        Cantidad
        <input class="Input Input-small Input-number" type="number" [(ngModel)]="quantity" (ngModelChange)="calculatePrice()">
    </label>

    <label>
        Precio Compra
        <input class="Input Input-price Input-number" type="number" step=".01" [(ngModel)]="buyPrice" (ngModelChange)="calculatePrice()">
    </label>

    <label>
        Margen
        <input class="Input Input-small Input-number" type="number" step=".01" [(ngModel)]="profit" (ngModelChange)="calculatePrice()">
    </label>
    
    <label>
        IVA
        <select class="Input Input-small Input-number" name="iva" [(ngModel)]="iva" (ngModelChange)="calculatePrice()">
            <option value="10.5">10.5%</option>
            <option value="21">21%</option>
        </select>
    </label>

    <label>
        Imp. Int.
        <select class="Input Input-small Input-number" name="impInt" [(ngModel)]="impInt" (ngModelChange)="calculatePrice()">
            <option value="0">0%</option>
            <option value="7.8">7.8%</option>
        </select>
    </label>

    <div class="Price">
        <span class="label">Precio USD:</span>
        <p><span class="currency">USD</span> {{fPrice}}</p>
    </div>
    <div class="Price">
        <span class="label">Precio AR:</span>
        <p><span class="currency">AR$</span> {{fPriceAr}}</p>
    </div>

    <div class="Price">
        <span class="label">Importe USD:</span>
        <p><span class="currency">USD</span> {{fTotalPrice}}</p>
    </div>
    <div class="Price">
        <span class="label">Importe AR:</span>
        <p><span class="currency">AR$</span> {{fTotalPriceAr}}</p>
    </div>
    <!-- <div class="Price">
        <span class="label">PVP:</span>
        <p><span class="currency">USD</span> {{finalPrice}}</p>
    </div> -->
    
    <button (click)="copyToClipboard()">Copy</button>
    <button (click)="deleteRow()">X</button>
    
    
</div>
