.Header {
    background: #2b318b;
    color: #fff;
    padding: 20px;
    font-size: 18px;
    align-items: center !important;
}

.Header-usd {
    border: 2px solid #33691E;
    color: #33691E;
    padding: 5px;
    font-size: 12px;
    background: #fff;
}

nav {
    display: inline-block;

    button {
        margin-right: 5px;
        font-size: 12px;
        line-height: 32px;
        padding: 0 12px;
        
        i {
            font-size: 18px;
        }
    }
}

img {
    width: 80px;
}