<HeaderComponent [dolar]="usd" (add)="addRow()" (copy)="copyToClipboard()" (export)="exportToPdf()" (save)="saveQuote()" (open)="fileManager.open()"></HeaderComponent>

<div class="AppBody">
    <ProductRowComponent *ngFor="let row of rows" [props]="row" [usd]="usd" (remove)="deleteRow($event)" (update)="updateTotals($event)"></ProductRowComponent>
    <div fxLayout="row" fxLayoutAlign="space-between">
        <!-- <div>
            <button (click)="addRow()" class="Button Button-icon-text Button-success u-marginRm" title="Agregar producto"><i class="material-icons">add_circle</i><span> Agregar</span></button>
            <button (click)="copyToClipboard()" class="Button Button-icon-text u-marginRm" title="Copiar todo"><i class="material-icons">file_copy</i><span> Copiar</span></button>
            <button (click)="exportToPdf()" class="Button Button-icon-text u-marginRm" title="Exportar a PDF"><i class="material-icons">picture_as_pdf</i><span> Exportar</span></button>
            <button (click)="saveQuote()" class="Button Button-icon-text u-marginRm" title="Guardar Cotizacion"><i class="material-icons">save</i><span> Guardar</span></button>
            <button (click)="fileManager.open()" class="Button Button-icon-text" title="Abrir Cotizacion"><i class="material-icons">folder_open</i><span> Abrir</span></button>
        </div> -->
        <div class="Total">
            <p class="Total-title">Total</p>
            <div fxLayout="row" fxLayoutAlign="end">
                <div class="u-marginRm">
                    <p><span class="Text-muted">USD </span> <strong>{{fTotal}}</strong></p>
                </div>
                <div class="u-marginRm"><p class="Text-muted"> | </p></div>
                <div>
                    <p><span class="Text-muted">AR$ </span> <strong>{{fTotalAr}}</strong></p>
                </div>
            </div>
        </div>
        
        
    </div>
</div>

<FileManagerComponent (fileLoaded)="fileLoaded($event)"></FileManagerComponent>
<PdfExporterComponent></PdfExporterComponent>
<!-- <SplashComponent *ngIf="isLoading"></SplashComponent> -->
<router-outlet></router-outlet>