$xs: 600px;
$mob: 1124px; 

.FileManager-overlay {
    background: rgba(255,255,255,0.5);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.FileManager-window {
    height: 400px;
    width: 500px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -200px;
    margin-left: -250px;
    background: #fff;
    padding: 20px;
    box-shadow: 0 0 15px rgba(0,0,0,0.5);
    display: flex;
    flex-direction: column;

    @media only screen and (max-width: $xs) {
        box-sizing: border-box;
        width: 100%;
        height: 100%;
        margin: 0;
        top: 0;
        left: 0;
    }
}

mat-selection-list {
    border: 1px solid #ddd;
    padding: 5px;
    list-style: none;
    flex: 1;
    overflow-y: scroll;
    position: relative;
}

mat-spinner {
    margin: -10px 0 0 -10px;
    position: fixed;
    top: 50%;
    left: 50%;
}