@import "~@angular/material/prebuilt-themes/indigo-pink.css";

html, body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    height: 100%;
}

.Button {
    background: none;
    border: none;
    border-radius: 5px;
    background: #2b318b;
    padding: 5px;
    margin-bottom: 5px;
    color: #fff;
    line-height: 50%;
    cursor: pointer;
}

.Button-icon {
    padding: 0 !important;
    min-width: 25px !important;
    line-height: 25px !important;
    border-radius: 50% !important;

    i {
        font-size: 15px;
    }
}

.Button-danger {
    background: #B00020;
}

.Button-success {
    background: #33691E;
}

.Button-icon-text {
    padding: 10px;
    
    i {
        font-size: 16px;
    }

    span {
        font-size: 16px;
        font-weight: bold;
    }
}

.u-marginRm {
    margin-right: 10px !important;
}

.u-marginRl {
    margin-right: 20px;
}

.u-marginTl {
    margin-top: 20px;
}

.u-marginBm {
    margin-bottom: 10px;
}

.u-alignRight {
    text-align: right;
}

.Text-muted {
    color: #666;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }



.mat-form-field-fluid {
    width: 100% !important;
    min-width: 10px !important; 

    .mat-form-field-wrapper {
        width: 100% !important;
        min-width: 10px !important;

        .mat-form-field-flex,
        .mat-form-field-underline,
        .mat-form-field-subscript-wrapper {
            width: 100% !important;
            min-width: 10px !important;
        }
    }

    .mat-form-field-infix {
        width: 100% !important;
        min-width: 10px !important;
    }
}