html, body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

.Button {
    background: none;
    border: none;
    border-radius: 5px;
    background: #2b318b;
    padding: 5px;
    margin-bottom: 5px;
    color: #fff;
    line-height: 50%;
    cursor: pointer;
}

.Button-icon {
    padding: 3px;

    i {
        font-size: 16px;
    }
    
}

.Button-danger {
    background: #B00020;
}

.Button-success {
    background: #33691E;
}

.Button-icon-text {
    padding: 10px;
    
    i {
        font-size: 16px;
    }

    span {
        font-size: 16px;
        font-weight: bold;
    }
}

.u-marginRm {
    margin-right: 10px;
}

.Text-muted {
    color: #666;
}